<footer class='footer py-3 px-2 border-t-2 border-gray-200 w-full flex'>
  <p class='w-2/4 pl-4 pt-2'>
    <%= link_to 'Hotwire', 'https://hotwired.dev/' , class: 'font-semibold italic', target: '_blank' %> examples made by <%= link_to 'Rootstrap', 'https://www.rootstrap.com/', class: 'font-bold', target: '_blank' %> with love &#10084;
  </p>
  <p class='w-2/4 flex justify-end'>
    <%= link_to 'https://github.com/rootstrap/rails_hotwire_playground', target: '_blank' do %>
      <%= inline_svg_tag 'github_logo.svg', class: 'h-10 w-32' %>
    <% end %>
  </p>
</footer>
