<h1 class='title'>Editing Board</h1>

<div class='divide-x-2 divide-gray-600'>
  <%= link_to boards_path, class: 'link' do %>
    <i class='fas fa-chevron-left'></i>
    Back
  <% end %>

  <%= link_to @board, class: 'link' do %>
    <i class='fas fa-external-link-alt ml-2'></i>
    Show
  <% end %>
</div>

<%= turbo_frame_tag 'board' do %>
  <%= render 'form', board: @board, action: 'Edit', icon_classes: 'fas fa-edit' %>
<% end %>
