<h1 class='title'>New Board</h1>

<%= link_to boards_path, class: 'link' do %>
  <i class="fas fa-chevron-left"></i>
  Back
<% end %>

<div class='flex justify-center mt-5'>
  <%= render 'form', board: @board, action: 'Create', icon_classes: 'fas fa-plus-square' %>
</div>
