<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>
<%= link_to 'Edit', edit_post_path(@post), data: { turbo_frame: "_top" } %> |
<%= link_to 'Back', posts_path, data: { turbo_frame: "_top" } %>
</div>
